[submodule "redis-server"]
	path = redis-server
	url = https://github.com/Back-to-Beginner/redis-server.git
[submodule "oracle-server"]
	path = oracle-server
	url = https://github.com/Back-to-Beginner/oracle-server.git
