.Rectangle-22 {
    width: 405px;
    height: 65px;
    flex-grow: 0;
    margin: 105px 4px 21px 0;
    padding: 18px 174px 17px 173px;
    border-radius: 9999px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    border: solid 2px #f5e9a9;
    background-color: #ffe86a;
  }