html {
    background-color: #fff7d9;
}

::-webkit-scrollbar {
    display: none;
}

.missionView {
    width: 400px;
    height: 488px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.missionCardTitle {
    padding-top: 29px;
    padding-bottom: 29px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.missionImage {
    width: 316px;
    height: 316px;
}

.missionImageMask {
    margin: 0 42px 0 42px;
    width: 316px;
    height: 316px;
}

.smallMissionView {
    width: 146px;
    height: 232px;
    display: flex;
    flex-direction: column;
    padding: 0 22px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* 호버 여기부터 */
*{ padding: 0; margin: 0; }
li{ list-style: none; }

  .smallMissionView li{
    float: left;
    width: 146px; height: 146px;
    /* margin-right: 20px; */
  }
  .smallMissionView li:last-child{ margin-right: 0; }
  
  .smallMissionView a{
    display: block; /* 영역적용위해 사용 */
    width: 100%; height: 100%;
    overflow: hidden; /* 넘어가는 자손을 안보이게 처리 */
    position: relative; /* figcaption의 앱솔루트 기준을 현재 요소로 변경 */
  }
  
  .smallMissionView figcaption{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.2);
    color: #fff; text-align: center;
    line-height: 150px;
    font-size:10px;
    position: absolute; /* 기본기준 : body */
    top: 0; left: 0;
    opacity: 0; /* 처음에 안보이게 처리 */
    transition: 0.3s; /* 변화되는 CSS에 시간차를 줌 */
  }
  
  /* 테두리 */
  .smallMissionView figcaption:after{
    content: ''; /* 비워둠 */
    display: block;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto; /* 기준에서 정가운데 오도록 처리 */
  }
  
  .smallMissionView a:hover figcaption{
    opacity: 1;
  }

  .smallMissionView a:focus figcaption {
    opacity: 0;
  }

/* 여기까지 */

.smallMissionCardTitle {
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    height: 14px;
}

.smallMissionImage {
    width: 146px;
    height: 146px;
}

.smallMissionImageMask {
    width: 146px;
    height: 146px;
}

.successView {
    width: 316px;
    height: 446px;
    padding: 42px 42px 0 42px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.successImageMask {
    width: 316px;
    height: 316px;
}

.successCardContent {
    padding-top: 27px;
    font-size: 16px;
    font-weight: 600;
    width: 316px;
    height: 72px;
}

.successImage {
    width: 316px;
    height: 316px;
}

.smallSuccessView {
    width: 146px;
    height: 210px;
    display: flex;
    flex-direction: column;
    padding: 22px 22px 0;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* 호버 여기부터 */
*{ padding: 0; margin: 0; }
li{ list-style: none; }

  .smallSuccessView li{
    float: left;
    width: 146px; height: 146px;
    /* margin-right: 20px; */
  }
  .smallSuccessView li:last-child{ margin-right: 0; }
  
  .smallSuccessView a{
    display: block; /* 영역적용위해 사용 */
    width: 100%; height: 100%;
    overflow: hidden; /* 넘어가는 자손을 안보이게 처리 */
    position: relative; /* figcaption의 앱솔루트 기준을 현재 요소로 변경 */
  }
  
  .smallSuccessView figcaption{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.2);
    color: #fff; text-align: center;
    line-height: 150px;
    font-size:10px;
    position: absolute; /* 기본기준 : body */
    top: 0; left: 0;
    opacity: 0; /* 처음에 안보이게 처리 */
    transition: 0.3s; /* 변화되는 CSS에 시간차를 줌 */
  }
  
  /* 테두리 */
  .smallSuccessView figcaption:after{
    content: ''; /* 비워둠 */
    display: block;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto; /* 기준에서 정가운데 오도록 처리 */
  }
  
  .smallSuccessView a:hover figcaption{
    opacity: 1;
  }

  .smallSuccessView a:focus figcaption{
    opacity: 0;
  }

/* 여기까지 */

.smallSuccessImageMask {
    width: 146px;
    height: 146px;
}

.smallSuccessCardContent {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
    width: 146px;
    height: 54px;
}

.smallSuccessImage {
    width: 146px;
    height: 146px;
}

.commentBox {
    width: 100%;
    font-family: Arial;
    font-size: 16px;
}

.commentUsername {
    font-weight: bold;
}

.commentContent {}

.commentView {
    width: 378px;
    height: 468px;
    flex-grow: 0;
    padding: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-left: solid 1px #000;
    background-color: #fff;
}

.commentList {
    width: 100%;
    height: 440px;
}

.sendBox {
    display: flex;
    width: 100%;
    height: 28px;
}

.commentInput {
    width: 330px;
    height: 24px;
    padding: 0 0 2px;
    border-radius: 5px;
    border: solid 1px #afafaf;
    background-color: rgba(217, 217, 217, 0);
}

.commentInputLocation {
    width: 342px;
}

.sendIcon {
    width: 26px;
    height: 26px;
}

.sendIconButton {
    width: 26px;
    height: 26px;
}

.uploadView {
    width: 316px;
    height: 421px;
    padding: 42px 42px 25px 42px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;

}

.uploadImageMask {

}

.uploadInput {
    display: none;
}

.fileupload {
    width: 316px;
    height: 316px;
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fileuploadImage {
    width: 64px;
    height: 64px;
}

.fileuploadText {
    font-family: Arial;
    font-size: 20px;
    color: #525252;
    width: 316px;
    text-align: center;
}

.information {
    position: absolute;
    top: 50px;
    left: 326px;
}

.informationImage {
    width: 24px;
    height: 24px;
}

.informationTooltipText {
    visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
    width: 320px;             /* 툴팁 영역의 넓이를 설정 */
    left: 40px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    padding: 5px 0;
    position: absolute;       /* 절대 위치를 사용 */
    z-index: 1;
}

.information:hover .informationTooltipText {
    visibility: visible;
}

.approved {
    position: absolute;
    top: 81px;
    left: 326px;
}

.approvedImage {
    width: 24px;
    height: 24px;
}

.approveTooltipText {
    visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
    width: 300px;             /* 툴팁 영역의 넓이를 설정 */
    left: 40px;
    color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    padding: 5px 0;
    position: absolute;       /* 절대 위치를 사용 */
    z-index: 1;
}

.approved:hover .approveTooltipText {
    visibility: visible;      /* hover 이벤트 발생시 영역을 보여줌 */
}

.uploadContent {
    position: relative;
    top: 25px;
}

.uploadContentTextarea {
    width: 308px;
    height: 72px;
    resize: none;
}

.approveContentTooltipText {
    visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
    width: 300px;             /* 툴팁 영역의 넓이를 설정 */
    left: 330px;
    color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    padding: 5px 0;
    position: absolute;       /* 절대 위치를 사용 */
    z-index: 1;
}

.uploadContent:hover .approveContentTooltipText {
    visibility: visible;      /* hover 이벤트 발생시 영역을 보여줌 */
}

.emailBox {
    width: 305px;
    height: 60px;
    flex-grow: 0;
    /*margin: 0 0 20px;*/
    border-radius: 9999px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    border: solid 2px #f5e9a9;
    background-color: #fff;

}

.emailTextInput {
    border: 0;
    font-size: 16px;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
    color: #878787;
}



.passwordBox {
    width: 305px;
    height: 60px;
    flex-grow: 0;
    /*margin: 20px 0 0;*/
    border-radius: 9999px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    border: solid 2px #f5e9a9;
    background-color: #fff;

}

.passwordTextInput {
    border: 0;
    font-size: 16px;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
    color: #878787;
}

.passwordconfirmBox {
    width: 305px;
    height: 60px;
    flex-grow: 0;
    /*margin: 20px 0 0;*/
    border-radius: 9999px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    border: solid 2px #f5e9a9;
    background-color: #fff;
}

.passwordConfirmTextInput {
    border: 0;
    font-size: 16px;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 17px;
    color: #878787;
}

.yellowButtonBox {
    width: 305px;
    height: 45px;
    flex-grow: 0;
    border-radius: 9999px;
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.25);
    border: solid 2px #f5e9a9;
    background-color: #ffe86a;

}

.yellowButton {
    border: 0;
    height: 10px;
    width: 58px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #595959;
}

.loginformBox {
    width: 375px;
    height: 470px;
    flex-grow: 0;
    /* padding: 80px 46px 22px 50px; */
    border-radius: 24px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 16px 0 rgba(129, 129, 129, 0.25);
    border: solid 5px #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

.registerformBox {
    width: 375px;
    height: 550px;
    flex-grow: 0;
    /* margin: 68px 0 0 435px; */
    /* padding: 80px 46px 22px 50px; */
    border-radius: 24px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 16px 0 rgba(129, 129, 129, 0.25);
    border: solid 5px #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

.register {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    margin-top: 21px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #595959;
}

.login {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    margin-top: 21px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #595959;
}

.loginBoxTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #595959;
}

.registerBoxTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #595959;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.loginLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 10% 10% 10%;
}

.loginLeft {
    display: flex;
    flex-direction: column;
    padding: 4%;
    line-height: 1.1;
}

.findText {
    /* position: absolute;
    top: 291px;
    left: 10%; */
    font-family: Arial;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #7d7d7d;
}

.yellowText {
    color: #ffe03e;
}

.spotText {
    /* position: absolute;
    top: 427px;
    left: 10%; */
    font-family: Arial;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #7d7d7d;
}

.logo {
    /* position: absolute;
    top: 179px;
    left: 10%; */
    width: 123px;
    height: 123px;
}

.loginformLocation {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;

}

.registerformLocation {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.loginBoxPosition {
    /* position: absolute;
    right: 10%;
    top: 247px; */
}

.RegisterBoxPosition {
    /* position: absolute;
    right: 10%;
    top: 247px; */
}

.topWave {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 60%;
    flex-grow: 0;
    opacity: 0.02;
    mix-blend-mode: multiply;
    background-image: linear-gradient(120deg, #ffeb3b 30%, #fae41e 87%);
}

.bottomWave {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    flex-grow: 0;
    opacity: 0.04;
    background-image: linear-gradient(114deg, #f3bb87 30%, #e59010 87%);
}

.profilePage {
    width: 100%-200px;
    height: 100%;
    padding: 0 100px;
}

.profilePageHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profileImage {
    background-color: #d9d9d9;
    border-radius: 9999px;
    width: 120px;
    height: 120px;
}

.description {
    padding-left: 30px;
    width: 300px;
}

.profileSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileSub span {
    padding: 5px;
}

.profileUploadLocation {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 247, 217, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cardGrid {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchcloseForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%-100px;
    height: 60px;
    flex-grow: 0;
    padding: 0 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.headerLogo {
    width: 190px;
    height: 80px;
    display: flex;
    align-items: center;
    /* margin: 0 899px 0 0; */
    font-family: Arial;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #444;
}

.headerLogo .headeryellowText {
    color: #ffe03e;
}

.searchbuttonBox {
    width: 46px;
    height: 41px;
    flex-grow: 0;
    padding: 4px 11px;
    border-radius: 30px;
    border: solid 1px #fff7d9;
    background-color: #ffe76a;
}

.profilebuttonBox {
    width: 41px;
    height: 41px;
    flex-grow: 0;
    border-radius: 30px;
    /* margin: 20px 0 19px 64px; */
    padding: 11px 10px 10px 11px;
    background-color: #d9d9d9;
}

.headerbuttonGroup {
    display: flex;
    justify-content: space-between;
}

.searchButtonLocation {
    margin-right: 40px;
}

.user-2 {
    width: 20px;
    /*height: 19.9px;  안보임*/
    /*flex-grow: 0; 반으로 잘림*/
}

.searchIcon {
    width: 20px;
    height: 20px;
    flex-grow: 0;
}

.searchIcon :hover {
    cursor: pointer;
}

.searchOpen {
    width: 295px;
    height: 32px;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 9.5px 4px 16.5px;
    border-radius: 30px;
    border: solid 1px #fffae9;
    background-color: #fff7d9;
}

.searchForm {
    border: 0;
    width: 242.9px;
    height: 21px;
    flex-grow: 0;
    font-family: Arial;
    font-size: 16px;
    text-align: left;
    background-color: #fff7d9;
    color: #000;
}

.mainPageWave {
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.cardViewLocation {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.mainPageTitle {
    font-family: Arial;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #525252;
    padding-bottom: 30px;
}

.mainBoxPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.findOtherSpot {
    flex-grow: 0;
    font-family: Arial;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.88;
    text-align: center;
    color: #595959;
}

.postArrow {
    padding-left: 10%;
}

.previousArrow {
    padding-right: 10%;
}

.background {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.detailBoxPosition {
    position: absolute;
    right: 945px;
    top: 812px;
}

.findSuccess {
    flex-grow: 0;
    font-family: Arial;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.88;
    text-align: center;
    color: #595959;

}

.detailViewLocation{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.resultPageWave {
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultPageTitle {
    font-family: Arial;
    font-size: 28px;
    font-weight: 500;
    margin-top : 40px;
    text-align: center;
    color: #525252;
    padding-bottom: 15px;
}

.resultPageServeTitle {
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;

    text-align: center;
    color: #afafaf;
    padding-bottom: 30px;
}

.detailViewLayout{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 247, 217, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadPage{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadLocation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.schoolCardGrid {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.AnyangCardGrid {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collectionPageWave {
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.collectionPageTitle {
    font-family: Arial;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #525252;
    padding-bottom: 30px;
}

.schoolTitle {
    font-family: Arial;
    margin-left : 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #525252;
    padding-bottom: 30px;
}

.schoolServeTitle {
    font-family: Arial;
    margin-left : 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 140%;
    color: #525252;
    padding-bottom: 30px;
}

.colloectionSuccess {
    font-family: Arial;
    margin-right : 50px;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: #525252;
    padding-bottom: 30px;
}

.collectionLocation {

}